<% yaml['releases'].each do |release| %>
  <div class="bg-catppuccin-mantle p-2 mb-2 border border-catppuccin-blue release-block" data-target="<%= release['time'] %>">
    <div class="flex justify-between items-start mb-4 h-full">
      <div>
        <span class="font-bold text-xl leading-none uppercase block -mt-0.5"><%= release['name'] %></span>
        <p class="text-sm text-catppuccin-subtext0"><%= release['title']%></p>
      </div>

      <div class="text-right">
        <p class="bg-catppuccin-surface0 text-sm px-2 py-1 local-time" title="<%= release['time'] %>"><%= release['time'] %></p>
      </div>
    </div>
    
    <div class="flex justify-between items-end mt-8">
      <div class="flex space-x-2">
      <% release['buttons'].each do |button_key, button_data| %>
        <%= button(button_key, button_data['url'], icon: button_data['icon']) %>
      <% end %>
      </div>

      <div class="countdown text-right" data-time="<%= release['time'] %>">
        <span class="text-xl font-bold leading-none"></span>
      </div>
    </div>
  </div>
<% end %>
