<!DOCTYPE html>
<html>
  <head>
    <title>Gobh.at | Releases</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content=" Gobh.at">
    <meta property="og:description" content="Track upcoming season resets and patches for popular ARPGs like Diablo, Path of Exile, and Last Epoch. Never miss a league start with live countdowns and patch details.">
    <meta property="og:url" content="https://gobh.at">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Gobh.at">
    
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <%= stylesheet_tag('tailwind.css') %>
  </head>

  <body class="bg-catppuccin-base">
    <div id="particles-js" class="fixed inset-0 -z-10"></div>
    <main class="container mx-auto px-6 py-8 font-sans text-catppuccin-text relative z-10 max-w-5xl">
      <%= yield %>
    </main>
    
    <%= javascript_tag('particles.min.js') %>
    <%= javascript_tag('lib.js') %>
    <%= javascript_tag('app.js') %>
  </body>
</html>
