<!DOCTYPE html>
<html>
  <head>
    <title>Ladder Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <%= stylesheet_tag('tailwind.css') %>
  </head>

  <body class="bg-catppuccin-base">
    <div id="particles-js" class="fixed inset-0 -z-10"></div>
    <main class="container mx-auto px-6 py-8 font-sans text-catppuccin-text relative z-10 max-w-5xl">
      <%= yield %>
    </main>
    
    <%= javascript_tag('particles.min.js') %>
    <%= javascript_tag('time.js') %>
    <%= javascript_tag('app.js') %>
  </body>
</html>
